/* #screen {
  width: 100%;
  aspect-ratio: 1920/1080;
  position: relative;
} */

h1 {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

h2 {
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  color: gray;
}

